@{
    ViewData["Title"] = "La Piraña";
}

<div class="text-center">
    
    <div >
        <img src="https://www.bigfish.mx/__export/1498340495599/sites/debate/img/2017/06/24/piraxaitas.jpg_1668135842.jpg" alt="">
    </div>
    <div>
        <h1>  La Piraña      </h1>
        <h2>    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum facere, assumenda doloribus modi mollitia officiis enim, totam dignissimos iusto tenetur aliquam expedita. Assumenda asperiores nam ipsum, eaque unde reprehenderit.</h2>
    </div>


</div>
