@{
    ViewData["Title"] = "La Piraña";
}

<div class="text-center">
    
    <div >
        <img src="https://media.discordapp.net/attachments/396416715623366678/836747787878006834/Pirana.png" alt="">
    </div>
    
    <div>
        <h1>  La Piraña      </h1>
        <h2>    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum facere, assumenda doloribus modi mollitia officiis enim, totam dignissimos iusto tenetur aliquam expedita. Assumenda asperiores nam ipsum, eaque unde reprehenderit.</h2>
    </div>


</div>
